body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    color: #222;
}
* {
    border: #666053 solid 1px;
}

/*Header*/
header {
    float: right;
}

header a, header img, header button {
    margin: 10px;
    color: #000;
    text-decoration: none;
}

header img {
    position: relative;
    top: 20px;
}

header button {
    background-color:#4285f4;
    color: #fff;
    cursor: default;
    font-weight: bold;
    line-height: 28px;
    border: #4285f4 solid 1px;
    border-radius: 2px;
    padding: 0 12px;
}

/*Main section*/
section {
    display: block;
    text-align: -webkit-center;
}
.google-logo img {
    width: 550px;
    height: 220px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 37px;
}

#search {
    height: 34px;
    width: 554px;
    padding: 5px 8px 0 16px;
    padding-left: 20px;
    font-size: 15px;
    border: 1px solid #dbd8d0;
    border-radius: 20px;
}

#search :hover {
    box-shadow: gray 1px 3px 1px 1px;
}

.mic-icon {
    width: 24px; 
    height: 24px;
    padding: 0 8px; 
}

.buttons {
    padding-top: 18px;
}
.button2 {
    height: 36px;
    line-height: 27px;
    background-color: #ada9a9;
    border: 1px solid #ada9a9;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
}

/*Footer*/

.country {
    position: relative;
    top: 210px;
    color: #666053;
    background-color: #e3e2e1;
    border-top: 1px solid rgba(0, 0, 0, 0.54);
    line-height: 35px;
    padding-top: 5px;
    padding-left: 30px;
}

.footer-links {
    position: relative;
    top: 210px;
    color: #666053;
    background-color: #e3e2e1;
    border-top: 1px solid rgba(0, 0, 0, 0.54);
    line-height: 45px;
    padding-top: 2px;
    padding-left: 30px;
    margin-bottom: 0;
    display: flex;
    flex-flow: nowrap row; 
}

.footer-links a {
    text-decoration: none;
    color: #666053;
    font-size: smaller;
    margin-right: 30px;
}

.footer-right {
    display: relative;
    float: right;
}



